@charset "utf-8";
/* Author: Neo */
/* Email: neo@yoteyote.com */

/* Default Setting*/
*{
    font-family: arial;
    font-size:12px;
}
a{
    text-decoration: none;
    color:#000;
}
.want_color{
    color:#000;
}
.will_color{
    color:#9E1300;
}

button{
    border:1px solid #9E1300;
    border-radius: 5px;
    padding:5px;
    color:#fff;
    background-color:#9E1300;
    cursor: pointer;
}
.success{
    color:#009900;
}
.error{
    color:red;
}

#bottom_content{
    position:fixed;
    height:50px;
    width:100%;
    bottom:0px;
    border-top: 3px solid #ececec;
    left:0px;
    background-color: #fff;
    opacity:0.8;
    filter:alpha(opacity=80); /* For IE8 and earlier */
}

#main_content{
    position:relative;
    margin: 0px auto;
    width:1000px;
    height:500px;
    margin-top:25px;
}


#will_want_form{
    position: absolute;
    right:0px;
    top:35px;
}
#will_want_form button:hover{
    border:1px solid #9E1300;
    color:#9E1300;
    background-color:#fff;
}
#will_want_form .want_color{
    font-size:18px;
    font-weight: lighter;
}
#will_want_form .will_color{
    font-size:18px;
    font-weight: lighter;
}

#search{
    position:absolute;
    right:0px;
    top:1px;
}
#search button{
    border:1px solid #9E1300;
    border-radius: 5px;
    padding:5px;
    color:#9e1300;
    background-color:#fff;
    cursor: pointer;
}
#search button:hover{
   background-color:#9E1300;
   border:1px solid #fff;
   color:#fff;
}

.will_want{
    font-size:20px;
    font-weight: lighter;
    color:#666666;
    display:inline;
}


.get_contact{
    float:right;
}
.user_name{
    font-weight: bold;
    font-size:15px;
}
.trusted_by{
    font-size:12px;
    color:#666666;
}
.get_contact button{
    border:1px solid #931300;
    border-radius: 5px;
    padding:5px;
    color:#fff;
    background-color:#931300;
    cursor:pointer;
}
.get_contact button:hover{
    background-color:#fff;
    color:#9E1300;
}
#footer a{
    padding-left:10px;
    color:#666;
}
#logged_user{
    font-style: italic;
}
#user_name{
    position:absolute;
    left:60px;
    top:20px;
    color:#931300;
}
#user_links{
    position:absolute;
    left:150px;
    top:20px;
    font-weight: 14px;
}
#user_links a{
    padding:5px;
}

#logging_in {
    position:absolute;
    top:15px;
    left:5px;
}
#logging_in a:first-child{
    color:red;
    font-size:14px;
    font-weight:lighter;
}
#logging_in a:nth-child(2){
    color:#931300;
    font-size:14px;
    font-weight:lighter;    
}

.loader{
    display:none;
}
.feedback{
    font-size:11px;
    color:#666;
}
.type{
	
	font-style:italic;
	font-size:20px;
color:#9E1300;
	
}
/* Preloader */
#loader {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	/*background-color:#fff; /* change if the mask should have another color then white */
	z-index:99; /* makes sure it stays on top */
}

#status {
	width:200px;
	height:200px;
	position:absolute;
	left:50%; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	background-image:url(../images/status.gif); /* path to your loading animation */
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px; /* is width and height divided by two */
}

.apply{
	
    float:right;
    margin-right:7px;
}

.apply button:hover{	
    background-color:#FFF;
    color:#9E1300;
}

.currency{
    font-weight:bold;
    font-size:12px;
    color:#9E1300;	
}

#error_a{
    color:red;		
}
.padding_left10{padding-left:10px;}
h3{
    font-weight: lighter;
}
.container {
  position: relative;
  width: 100%;
}
.container div {
  position: absolute;
  width: 300px;
}