/**
 * ----------------------------------------------
 * Sticky footer styles
 * ----------------------------------------------
 */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Wrapper for page content to push down footer */
#fluid-wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  /*background-color: #f5f5f5;*/
  background-color: #000000;
}


/**
 * ----------------------------------------------
 * Custom page CSS
 * ----------------------------------------------
 */

.fluid-container {
  padding: 80px 15px 0;
  /*padding: 0 15px;*/
}

.fluid-container:before,
.fluid-container:after {
  display: table;
  content: " ";
}

.fluid-container:after {
  clear: both;
}

#wrap > .container {
  padding: 80px 15px 0;
}

#fluid-wrap > .fluid-container {
  padding: 80px 15px 0;
  /*padding: 0 15px 0;*/
}

/* Not required for template or sticky footer method. */

.container .credit {
  margin: 20px 0;
  color: #999999;
}

.fluid-container .text-muted {
  color: #999999;
}

.fluid-container .credit {
  margin: 20px 0;
  color: #999999;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

#fluid-footer > .fluid-container {
  margin:  -2px 0 0;
  padding: 0 15px 0;
}

.header {
  background: #ffffff url('../images/background-header.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /*height: 116px;
  width:  auto;*/
}

.fluid-container .logo {
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  margin: 10px 0 10px 15px;
  /*padding: 20px 20px;*/
}

.header h1 {
  font-weight: bold;
  color: red;
  margin: 10px 0 0;
}

.header-left {
  padding-left: 120px;
}

.header-right {

}

code {
  font-size: 80%;
}

/**
 * ----------------------------------------------
 * For Pagination DataGrid Styles
 * ----------------------------------------------
 */

.manage {
  padding: 0;
}

.page-manage {
  margin: 8px 15px 4px 15px;
}

.panel .manage {

}

.panel-body .manage {
  margin: 0;
}

.panel-footer .manage {

}

.dashboard {
  margin: 0px 0 20px;
}

.dashboard .page-header {
  padding-top:  0;
}


/**
 * ----------------------------------------------
 * End Paginatin DataGrid Styles
 * ----------------------------------------------
 */


/**
 * ----------------------------------------------
 * navbar brand color
 * ----------------------------------------------
 */

.navbar-header .navbar-brand {
	color: orange;
}

.active-header {
	background-color: #428bca;
	color: #ffffff;
}

.th-align {
	text-align: left;
}

.container .copyright {
  color: #999999;
}

.extra {

}

/*
body, h1 {
    font-family: 'Times New Roman';
}
*/

.glyphicon {
    font-family: inherit;
}

.glyphicon:before{
    font-family:'Glyphicons Halflings';
}

/**
 * ----------------------------------------------
 * Fix for IE 10 View Port
 * ----------------------------------------------
 */

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
