body {
    margin: 0px;
    padding: 0px;
    background-image: url("../images/body.jpg");
    background-position: top center;

}


#masterhead {
    height: 145px;
    width: 100%;
    background-image: url("../images/mast.jpg");
    background-position: top center;
    background-repeat: repeat-x;
}


#davidconnelly {
    width: 326px;
    height: 52px;
    float: left;
    position: relative;
    top: 15px;
}


#webdeveloper {
    width: 497px;
    height: 52px;
    float: right;
    position: relative;
    top: 15px;
}

#header {
    height: 85px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}


#topnav {
    height: 60px;
    width: 1200px;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    line-height: 60px;
    background-image: url("../images/menu.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}


#topnav li {
    display: inline;
    color: white;
    padding-left: 16px;
    padding-right: 16px;
    top: -20px;
    position: relative;
}

#topnav ul {
    margin-left: 90px;
    height: 50px;
    line-height: 50px;
    margin-top: 0px;
}

.homebtn {
    top: 20px;
    position: relative;
}


#topnav a:link { color: #FFF; text-decoration: none; }
#topnav a:active {color: #FFF; text-decoration: none;} 
#topnav a:visited {color: #FFF; text-decoration: none;} 
#topnav a:hover {color: #FFF; text-decoration: underline; }


#pagewidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    background-image: url("../images/pagewidthbg.gif");
    background-position: top center;
    background-repeat: repeat-y;
}

#stage {
    width: 890px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}


#footer {
    height: 120px;
    width: 100%;
    clear: both;
    background-image: url("../images/bottom.jpg");
    background-position: top center;
    line-height: 120px;
    color: white;
    font-size: 11px;
    text-align: center;
}

