@charset "UTF-8";

/**
 * ----------------------------------------------
 * Yoteyote.css - Custom page defines.
 * ----------------------------------------------
 */

.header-background {
  background: #ffffff url('../images/background-header.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: red;
}

.header-logo {
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  /*margin: 5px 0 5px 20px;*/
}

.header-pad {
  padding: 20px 20px;
}

.header2-pad {
  padding-top: 35px;
}

.discover-pad {
  padding-left: 95px;
}

/*
.table thead > tr > th {
  font-size: 14px;
  font-weight: bold;
}

.thead-color .table thead {
  background-color: #e9e9e9;
  color: #ffffff;
}

.tfoot-color .table tfoot {
  background-color: #e9e9e9;
  color: #ffffff;
}
*/

.table thead > tr > th,
.table thead > tr > td,
.table tfoot > tr > th,
.table tfoot > tr > td {
  background-color: #e9e9e9;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}
