

#contentR {
    float: left;
    width: 760px;
}
#contentR #subnav {
    border: 1px dashed red;
    height: 33px;
    margin-bottom: 10px;
}
#contentR .elem {
    margin-bottom: 5px;
}
#contentR #elem1 .elem1L {
    color: #999999;
    float: left;
    font-size: 11px;
    padding: 8px 0 12px;
}
#contentR #elem1 .elem1R {
    border: 1px dashed red;
    float: right;
    height: 16px;
    padding-top: 8px;
    width: 95px;
}
#contentR #elem2 {
}
#contentR #elem2 h3 {
    display: inline;
}
#contentR #elem3 {
    color: #434343;
    font-size: 12px;
    margin-bottom: 15px;
    padding-top: 3px;
}
#contentR #elem10 {
    margin-bottom: 15px;
}
#contentR #elem10 .elem10L {
    color: #263948;
    font-size: 24px;
    padding: 8px 0 5px;
}
#contentR #elem11 {
    background: url("/templates/goldshark/images/top_centerFade2.png") repeat-x scroll 0 0 transparent;
    height: 300px;
    margin-bottom: 15px;
    width: 760px;
}
#contentR #current-Prices {
    margin-bottom: 15px;
}
#contentR #main-Content {
    margin-bottom: 15px;
}
#main-Content .contentheading {
    color: #263948;
    font-size: 24px;
    padding: 8px 0 5px;
}
#main-Content .contentpaneopen {
    color: #555454;
}
.rounded_box {
    background: url("../images/topGradient.png") repeat-x scroll center top transparent;
    border: 1px solid #D6D6D6;
    position: relative;
}
.rounded_box .corner_ul, .rounded_box .corner_ur, .rounded_box .corner_ll, .rounded_box .corner_lr {
    display: block;
    font-size: 1px;
    height: 4px;
    position: absolute;
    width: 4px;
}
.rounded_box .corner_ul {
    background-image: url("/templates/goldshark/images/rounded_box/topLeft.png");
    left: -1px;
    top: -1px;
}
.rounded_box .corner_ur {
    background-image: url("/templates/goldshark/images/rounded_box/topRight.png");
    right: -1px;
    top: -1px;
}
.rounded_box .corner_ll {
    background-image: url("/templates/goldshark/images/rounded_box/bottomLeft.png");
    bottom: -1px;
    left: -1px;
}
.rounded_box .corner_lr {
    background-image: url("/templates/goldshark/images/rounded_box/bottomRight.png");
    bottom: -1px;
    right: -1px;
}
#main-Content.rounded_box {
    margin-top: 20px;
    padding: 10px;
}
.rounded_box.margined-bottom {
    margin-bottom: 10px;
}
.rounded_box.padded {
    padding: 10px;
}
.gs_category .catItemTitle > a, .gs_category .catItemCommentsLink a, .gs_category .catItemReadMore a {
    color: #FF0000;
}
.gs_category .catItemImageBlock {
    float: left;
    padding-right: 35px;
}
.gs_category .catItemImageBlock img {
    border: medium none;
    padding: 0;
}
.gs_category .catItemIntroText {
    padding-bottom: 5px;
}
.gs_category .catItemDateCreated {
    color: #BBBBBB;
    display: block;
    font-size: 0.6em;
    padding: 5px 0 5px 10px;
}

.clear {
    clear: both;
}
#gsResCon {
    margin-top: 25px;
    width: 770px;
}
#rowCon {
    width: 100%;
}
#hd1 {
    margin-bottom: 10px;
    width: 100%;
}
#hd2 {
    height: 34px;
    width: 100%;
}
#hd3 {
    background: url("../images/gs-bluebck.png") repeat-x scroll 0 0 transparent;
    height: 33px;
    width: 100%;
}
#hd3 h3 {
    color: #FFFFFF;
    display: inline;
    font-size: 14px;
    line-height: 24px;
}
#hd4 {
    background: url("../images/gs-greybck.png") repeat-x scroll 0 0 transparent;
    font-size: 12px;
    height: 28px;
    line-height: 26px;
    width: 100%;
}
#rowItem {
    background: url("../images/gs-gradient02.png") repeat-x scroll 0 0 transparent;
    border-bottom: 1px solid #CCCCCC;
    font-size: 12px;
    height: 95px;
    width: 100%;
}
.hd3-1 {
    float: left;
    width: 250px;
}
.hd3-2 {
    float: left;
    width: 193px;
}
.hd3-3 {
    float: left;
    width: 98px;
}
.hd3-4 {
    float: left;
    width: 196px;
}
.ri-1 {
    float: left;
    height: 91px;
    width: 250px;
}
.ri-2 {
    float: left;
    height: 91px;
    width: 193px;
}
.ri-3 {
    float: left;
    height: 91px;
    width: 150px;
}
.ri-4 {
    float: left;
    height: 91px;
    width: 159px;
}
.hd2-1 {
    background: url("../images/gs-goldbox.png") no-repeat scroll center center transparent;
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    height: 34px;
    margin-right: 2px;
    text-align: left;
    width: 106px;
}
.hd2-tabon {
    background: url("../images/gs-goldbox.png") no-repeat scroll center center transparent;
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    height: 35px;
    text-align:left;
    width: 106px;
}
.hd2-tabsoff {
    background: url("../images/gs-goldbox.png") no-repeat scroll center center transparent;
    color: #435360;
    float: left;
    font-weight: bold;
    height: 35px;
    margin: 0 1px;
    text-align:left;
    width: 106px;
}
.hd1-1 {
    border-bottom: 1px solid #CCCCCC;
    float: left;
    height: 34px;
    width: 515px;
}
.hd1-2 {
    background: url("../images/gs-taboff.png") no-repeat scroll center center transparent;
    float: right;
    height: 34px;
    text-align: center;
    width: 126px;
}
.hd1-3 {
    background: url("../images/gs-tabon.png") no-repeat scroll center center transparent;
    float: right;
    height: 34px;
    margin-right: 3px;
    text-align: center;
    width: 126px;
}
#riCon {
    padding-top: 10px;
}
.pxbox {
    background: url("../images/gs-pxbox.png") no-repeat scroll center center transparent;
    float: left;
    height: 64px;
    margin-left: 10px;
    margin-right: 15px;
    width: 64px;
}
.pxbox img {
    height: 54px;
    margin: 0 auto;
    padding-top: 20px;
    width: 54px;
}
.bluebar {
    background: url("../images/gs-bluebar.png") no-repeat scroll center center transparent;
    color: #FFFFFF;
    font-size: 12px;
    height: 19px;
    margin-top: 5px;
    text-align: center;
    width: 126px;
}
#gsResCon .bluebar a {
    color: #FFFFFF;
    text-decoration: none;
}
.arrowbox {
    background: url("../images/gs-arrowbox.png") no-repeat scroll center center transparent;
    color: #435360;
    font-size: 12px;
    height: 17px;
    margin-top: 5px;
    text-align: center;
    width: 64px;
}
#gsResCon .arrowbox a {
    color: #435360;
    text-decoration: none;
}
.bluetxt {
    color: #435360;
    font-size: 14px;
    font-weight: bold;
}
.goldtxt {
    color: #875107;
    font-size: 14px;
    font-weight: bold;
}
.greytxt {
    color: #818181;
}
#gsResCon .sortBy {
    width: 50px;
}
#gsResCon .vintageItems {
    float: left;
    height: 19px;
    line-height: 28px;
    margin: 0 10px;
}
#gsResCon .vinCurrent {
    background: url("../images/gs-gold-bk-lnk.jpg") no-repeat scroll center center transparent;
    height: 19px;
    width: 50px;
}
#hd2 input[type="submit"] {
    background-image: url("../images/go.png");
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    height: 27px;
    margin-top: 2px;
    width: 70px;
}
#hd2 input[type="text"] {
    font-size: 16px;
    font-weight: bold;
    height: 25px;
    text-align: center;
    width: 70px;
}
#gsbbb {
    height: 32px;
    margin-bottom: 10px;
    width: 150px;
}
#gsbbb .bbbL {
    float: left;
    margin-bottom: 5px;
    text-align: center;
    width: 45px;
}
#gsbbb .bbbR {
    float: left;
    font-size: 30px;
    font-weight: bold;
    line-height: normal;
    margin-left: 10px;
}
#gscc {
    font-size: 13px;
    margin-left: -50px;
    position: relative;
    top: -5px;
    width: 180px;
}
#gsDesCon {
    font-size: 12px;
}
#gsDesCon #gdcL {
    float: left;
    margin-right: 30px;
    width: 125px;
}
#gsDesCon #gdcR {
    float: left;
    padding-bottom: 0;
    padding-left: 15px;
    width: 564px;
}
#gsDesCon .desTitle {
    color: #875107;
    font-weight: bold;
}
#gsDesCon .desTitle h3 {
    padding: 15px 0 10px;
}
#gsDesCon .desInfo a {
    color: #435360;
    text-decoration: underline;
}
#gsDesCon #gdcL img {
    margin: 10px 0;
}
#gsDesCon .desChart {
    margin-bottom: 10px;
    width: 236px;
}
#gsDesCon .dcrow {
    background: none repeat scroll 0 0 #E3E3E3;
    height: 25px;
    margin-bottom: 1px;
    padding: 0 5px;
}
#gsDesCon .roundL {
    background: url("../images/gs-roundL.jpg") no-repeat scroll center center transparent;
    float: left;
    height: 25px;
    width: 2px;
}
#gsDesCon .roundR {
    background: url("../images/gs-roundR.jpg") no-repeat scroll center center transparent;
    float: right;
    height: 25px;
    width: 2px;
}
#gsDesCon .bluetxt {
    color: #435360;
    font-size: 13px;
    font-weight: bold;
}
#gsDesCon .prodpx {
    margin-left: 15px;
}
.roundShadow {
    float: left;
    margin: 5px 5px 5px 0;
    width: 183px;
}
.roundShadow .coinCon {
    background: url("../images/gs-coinBck.jpg") no-repeat scroll center center transparent;
    height: 212px;
    width: 183px;
}
.roundShadow .coinFooter {
    background: url("../images/gs-coinFooter.jpg") no-repeat scroll center center transparent;
    height: 11px;
    width: 183px;
}
.roundShadow h3 {
    color: #875107;
    font-size: 16px;
    font-weight: bold;
    height: 38px;
    padding: 0 10px;
    text-align: center;
}
.roundShadow .cimg {
    height: 145px;
    margin: 0 31px;
    text-align: center;
    width: 100px;
}
.roundShadow .chd {
    padding: 10px 0;
}
#divCategory #category {
    margin-bottom: 10px;
    width: 100%;
}
#divCategory #category h2 {
    display: inline;
}
#divCategory hr {
    margin-bottom: 3px;
}
#divCategoryDesc {
    margin-bottom: 10px;
}
#goldShark > div + div > div:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}
#goldShark_MenuItems {
    margin-bottom: 30px;
    width: 100%;
}
#goldShark_MenuItems li {
    display: inline;
    float: left;
    font-weight: bold;
    list-style-type: none;
    padding-right: 20px;
}
table.historyList .list-footer div.limit {
    float: left;
    height: 22px;
    line-height: 22px;
    margin: 0 10px;
}
table.historyList .list-footer {
    display: table;
    margin: 0 auto;
    padding: 0;
}
table.historyList .list-footer .pagenav {
    padding: 2px;
}
table.historyList {
    padding-top: 5px;
}
table.historyList thead th {
    background: none repeat scroll 0 0 #F0F0F0;
    border-bottom: 1px solid #999999;
    border-left: 1px solid white;
    color: #666666;
    text-align: center;
}
table.historyList tfoot tr {
    color: #333333;
    text-align: center;
}
table.historyList tfoot td, table.historyList tfoot th {
    background-color: #F3F3F3;
    border-top: 1px solid #999999;
    text-align: center;
}
table.historyList td, table.historyList th {
    padding: 4px;
}
table.historyList tbody tr {
    background-color: white;
    text-align: left;
}
table.historyList tbody tr.row0:hover td, table.historyList tbody tr.row1:hover td {
    background-color: #FFFFDD;
}
table.historyList tbody tr td {
    background: none repeat scroll 0 0 white;
    border: 1px solid white;
    height: 10px;
}
#goldShark #productList #hd2 input[type="text"] {
    background-color: #EEEEEE;
}

.colortable {
    border: medium none;
}
.colortable th {
    background: none repeat scroll 0 0 #F99E1C;
    color: #FFFFFF;
    font-weight: bold;
    padding: 8px 20px 8px 10px;
}
.colortable td {
    border-bottom: 1px solid #F99E1C;
    padding: 8px 10px;
}

fieldset, form, label, legend, caption, tfoot {
    border: 0 none;
    margin: 0;
    padding: 0;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
p {
    margin: 5px 0 15px;
    padding: 0;
}
ul {
    list-style: none outside none;
    margin: 5px 0;
    padding: 0;
}
ul li {
    background: url("/templates/goldshark/images/li.png") no-repeat scroll 0 7px transparent;
    margin: 0 0 0 3px;
    padding: 0 0 0 20px;
}
a:link, a:visited {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: #000044;
    text-decoration: none;
}
a img {
    border: medium none;
}
a:active, a:focus {
    outline: 0 none;
}
img {
    border: medium none;
}

/* CSS Document */

