#sonyStyleWebsite,
.articlePage {background: none;}
#vaio-category {padding-top: 94px;}
#vaio-category #headingGroup {float: left;}
#vaio-category h1 {float: left; font-family:"avantGardeDemi", arial, helvetica, sans-serif; font-size: 28px; font-weight: normal; color: #333; padding: 10px 0 9px 0; line-height: 1;}
#vaio-category #headingGroup p {clear: both; font-size: 13px; font-weight: bold;}

#utilityBar-subNav-container {position: absolute; top: 0; right: 0; z-index: 50; width: 100%; height: 40px; margin: 0;}
#utilityBar-subNav-wrapper {top: 0px; position: absolute; width: 100%; padding-top: 13px;}
#utilityBar-subNav-wrapper.sticky,
#utilityBar-subNav-wrapper .stickyTop,
#utilityBar-subNav-wrapper .pin {top: 0px; position: fixed; background: #fff; width: 960px; box-shadow: 0 15px 25px -4px rgba(255, 255, 255, 1); -moz-box-shadow: 0 15px 25px -4px rgba(255, 255, 255, 1); -webkit-box-shadow: 0 15px 25px -4px rgba(255, 255, 255, 1); border-bottom: 1px solid #D9D9D9; 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.ie8 #utilityBar-subNav-wrapper.sticky #gradient {
	position: absolute;
	height: 20px;
	width: 100%;
	top: 72px;
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(45%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

#utilityBar-subNav-wrapper.sticky h1 {padding: 0 0 7px 0;}
#utilityBar-subNav-wrapper.sticky p {margin-bottom: 7px;}

#utilityBar-subNav.unstick {position:relative;}
#utilityBar-subNav #subNav {float: right; margin: 0; width: 480px; margin-top: 10px;}
	#utilityBar-subNav-wrapper.sticky #utilityBar-subNav #subNav {margin-top: 18px;}
#utilityBar-subNav .subNavItem, #utilityBar-subNav .subNavItem a, #utilityBar-subNav .subNavItem a .border {display:block; position: relative; top: 1px;}
#utilityBar-subNav .subNavItem {float: left; width: 20%; height: 40px;}
#utilityBar-subNav .subNavItem a {width: 100%; height:40px; font-family:'avantGardeBook', Arial, Helvetica, sans-serif; font-size: 12px; color: #464646; text-align: center; text-decoration: none; line-height: 40px;}
#utilityBar-subNav .subNavItem a .border {position: absolute; top: 38px; left: 0; width: 100%; height: 1px;}
#utilityBar-subNav #subNav:hover .subNavItem.selected a .border {height:6px;}
#utilityBar-subNav .subNavItem.selected a .border,
#utilityBar-subNav #subNav:hover .subNavItem.selected a:hover .border {
	height:6px;
	top: 33px;
	-webkit-box-shadow:inset 1px 1px rgba(255,255,255,0.3), 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow:inset 1px 1px rgba(255,255,255,0.3), 1px 1px rgba(0,0,0,0.1);
	-ms-box-shadow:inset 1px 1px rgba(255,255,255,0.3), 1px 1px rgba(0,0,0,0.1);
	-o-box-shadow:inset 1px 1px rgba(255,255,255,0.3), 1px 1px rgba(0,0,0,0.1);
	box-shadow:inset 1px 1px rgba(255,255,255,0.3), 1px 1px rgba(0,0,0,0.1);
}

#utilityBar-subNav .subNavItem a[href='#catOverview'] .border {background: #7497ad;}
#utilityBar-subNav .subNavItem a[href='#catOverview']:hover {color: #7497ad;}

#utilityBar-subNav .subNavItem a[href='#catFeatures'] .border, #catFeatures h2 .color {background:#a3d06c;}
#utilityBar-subNav .subNavItem a[href='#catFeatures']:hover {color: #a3d06c;}

#utilityBar-subNav .subNavItem a[href='#catVideos'] .border, #catVideos h2 .color {background:#fdc040;}
#utilityBar-subNav .subNavItem a[href='#catVideos']:hover {color: #fdc040;}

#utilityBar-subNav .subNavItem a[href='#catAccessories'] .border, #catAccessories h2 .color {background:#ff7f0a;}
#utilityBar-subNav .subNavItem a[href='#catAccessories']:hover {color: #ff7f0a;}

#utilityBar-subNav .subNavItem a[href='#catSupport'] .border, #catSupport h2 .color {background:#d72172;}
#utilityBar-subNav .subNavItem a[href='#catSupport']:hover {color: #d72172;}


/* Get to Know - Windows Logo */
#mod-windowsLogoArea {width: 100%; height: 50px; position: relative;}
#mod-windowsLogoArea #windowsLogoLink {
	width: 200px; height: 28px; display: block; position: relative; top: 10px; left: 760px; 
	background: url(../img/ss_cat/getToKnowWinLogo.jpg) #01bcf3 96px 5px no-repeat; 
	text-decoration: none; outline: none;
}
#windowsLogoLink #windowsLogoText {font-family: 'avantGardeDemi',arial,sans-serif; font-size: 13px; color: #FFF; line-height: 28px; padding-left: 8px;}
#windowsLogoText #windowsLogoTextBreak:after {content: "."; letter-spacing: 26px; display: inline-block; *display: inline; color: #01bcf3}

/* Top Promo Mods */

#topPromos {
	width: 774px; height: 408px;
	position: relative; display: block; overflow: hidden;
	background: #fff;
}
#topPromoHeroSpot {
	width: 774px; height: 270px;
	position: absolute; left: 0; top: 0;
}
#topPromoSpot1, #topPromoSpot2 {
	width: 367px; height: 122px;
	position: absolute; top: 270px;
}
	#topPromoSpot1 { left: 16px; } 
	#topPromoSpot2 { left: 392px; }

#topPromoHeroSpot, #topPromoSpot1, #topPromoSpot2 { text-decoration: none; outline: none; }

/* Top Promo Typography */

#topPromoHeroSpot h2.mainHeader { 
	font: normal 21px/24px "avantGardeDemi", arial, sans-serif; color: #fff;
	padding: 90px 394px 10px 40px;
 }
 #topPromoSpot1 h3.subHeader, #topPromoSpot2 h3.subHeader {
	font: normal 16px/16px "avantGardeDemi", arial, sans-serif; color: #333;
	padding: 20px 135px 6px 20px;
}
#topPromoHeroSpot p.mainCopy {
	font: normal 14px/16px arial, sans-serif; color: #fff;
	padding: 0px 450px 12px 40px; margin: 0!important;
}
#topPromoHeroSpot p.deliveryCopy {
	font: normal 14px/14px arial, sans-serif; font-weight: bold; color: #ef3d42;
	padding: 0 420px 18px 35px; margin: 0 !important;
}
#topPromoSpot1 p.subCopy, #topPromoSpot2 p.subCopy {
	font: normal 12px/16px  arial, sans-serif; color: #333;
	padding: 0px 140px 10px 20px; margin: 0!important;
}

/* Top Promo Buttons */

#topPromos .topPromoButtons {
	font: normal 11px/26px "avantGardeDemi", arial, sans-serif;
	display: inline-block; *display: inline; zoom: 1; padding: 0 14px;
	background: #FF7E1F; color: #fff;
}
	.topPromoButtons.heroSpot { margin-left: 40px; }
	.topPromoButtons.subSpots { margin-left: 20px; }

/* Top Promo Hero Backgrounds */

#topPromos.topPromoAll { background: url(../img/ss_vaio_superCat/supercat_bg_promos.jpg) transparent no-repeat 0 0; }
#topPromos.topPromoLaptops { background: url(../img/ss_cat/bg_promos.jpg) transparent no-repeat 0 0; }
#topPromos.topPromoTouchPc { background: url(../img/ss_cat/touchCat_bg_promos.jpg) transparent no-repeat 0 0; }
#topPromos.topPromoDesktops { background: url(../img/ss_cat/desktopsCat_bg_promos.jpg) transparent no-repeat 0 0; }

/* None Linked Promos */

#topPromos.noLink { cursor: none; }

/* end: Top Promo Mods */

.linkCarrot {background: url("../img/ss_global/sprite-icons.png") no-repeat scroll -178px 3px transparent; color: #333; padding-left: 10px; text-decoration: none;}
.linkCarrot:hover {color: #44b3e1; text-decoration: underline;}

/* FREE SHIPPING PROMO TEXT */
#mod-shippingInfoArea {background-color: #333; line-height: 40px; width: 774px; display: inline-block; padding: 0; margin: 20px 0 -39px 0; float: left; }
    #mod-shippingInfoArea .shippingMessage {margin: 0; line-height: 43px; float: left; display: block; width: 500px;}
	#mod-shippingInfoArea span.shipHeaderText {color: #fff; font-family: 'avantGardeDemi', arial, sans-serif; font-size: 20px; padding: 0 0 0 18px; vertical-align: baseline; line-height: 46px;}
	#mod-shippingInfoArea span.shipInfoText {color: #fff; font-family: 'avantGardeDemi', arial, sans-serif; font-size: 13px; padding: 0 0 0 12px; }
#mod-shippingInfoArea.mod-touchCat {margin-bottom: 0px;}/* Used on Touch Category Page */
/* Email Signup Styles */
#weeklyDealsEmailSignUpSection { border: 1px solid transparent;float: right;position: relative;width: 245px;height: 45px;margin: 0;}
.ie7 #weeklyDealsEmailSignUpSection {z-index: 2 !important;}
#weeklyDealsEmailSignUpEmailAddress {border: 2px solid #fff; color: #666;font-size: 13px;height: 25px;line-height: 22px;margin: 0;padding: 0 43px 0 9px;position: absolute;top: 9px;right: 26px;width: 160px;}
#weeklyDealsEmailSignUpEmailAddress2 {border: 2px solid #fff; color: #666;font-size: 13px;height: 25px;line-height: 22px;margin: 0;padding: 0 43px 0 9px;position: absolute;top: 9px;right: 26px;width: 160px;}
#weeklyDealsEmailSignUpEmailAddress3 {border: 2px solid #fff; color: #666;font-size: 13px;height: 25px;line-height: 22px;margin: 0;padding: 0 43px 0 9px;position: absolute;top: 9px;right: 26px;width: 160px;}
#weeklyDealsEmailSignUpEmailAddress4 {border: 2px solid #fff; color: #666;font-size: 13px;height: 25px;line-height: 22px;margin: 0;padding: 0 43px 0 9px;position: absolute;top: 9px;right: 26px;width: 160px;}
#weeklyDealsEmailSignUpEmailAddress5 {border: 2px solid #fff; color: #666;font-size: 13px;height: 25px;line-height: 22px;margin: 0;padding: 0 43px 0 9px;position: absolute;top: 9px;right: 26px;width: 160px;}
#weeklyDealsEmailSignUpEmailAddress6 {border: 2px solid #fff; color: #666;font-size: 13px;height: 25px;line-height: 22px;margin: 0;padding: 0 43px 0 9px;position: absolute;top: 9px;right: 26px;width: 160px;}
#weeklyDealsEmailSignUpEmailAddress7 {border: 2px solid #fff; color: #666;font-size: 13px;height: 25px;line-height: 22px;margin: 0;padding: 0 43px 0 9px;position: absolute;top: 9px;right: 26px;width: 160px;}
button#signupSubmit { background: url('../img/homepage/submit_signup.png') transparent no-repeat; width: 26px; height: 25px; border: none;  margin: 3px; padding: 0; position: absolute; right: 25px; top: 8px; cursor: pointer;}
button#signupSubmit2 { background: url('../img/homepage/submit_signup.png') transparent no-repeat; width: 26px; height: 25px; border: none; margin: 3px; padding: 0; position: absolute; right: 25px; top: 8px; cursor: pointer;}
button#signupSubmit3 { background: url('../img/homepage/submit_signup.png') transparent no-repeat; width: 26px; height: 25px; border: none; margin: 3px; padding: 0; position: absolute; right: 25px; top: 8px; cursor: pointer;}
button#signupSubmit4 { background: url('../img/homepage/submit_signup.png') transparent no-repeat; width: 26px; height: 25px; border: none; margin: 3px; padding: 0; position: absolute; right: 25px; top: 8px; cursor: pointer;}
button#signupSubmit5 { background: url('../img/homepage/submit_signup.png') transparent no-repeat; width: 26px; height: 25px; border: none; margin: 3px; padding: 0; position: absolute; right: 25px; top: 8px; cursor: pointer;}
button#signupSubmit6 { background: url('../img/homepage/submit_signup.png') transparent no-repeat; width: 26px; height: 25px; border: none; margin: 3px; padding: 0; position: absolute; right: 25px; top: 8px; cursor: pointer;}
button#signupSubmit7 { background: url('../img/homepage/submit_signup.png') transparent no-repeat; width: 26px; height: 25px; border: none; margin: 3px; padding: 0; position: absolute; right: 25px; top: 8px; cursor: pointer;}



.ie7 .emailSubscribeOverlay {z-index: 9999 !important;}
.emailSubscribeOverlay {display: none; z-index: 9999; background: #FFF; -moz-box-shadow: 0 0 8px rgba(0,0,0,0.56); -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.56); box-shadow: 0 0 8px rgba(0,0,0,0.56); position: relative; top: 10px; left: -10px}
.emailSubscribeOverlay p {color: #333;}
.emailSubscribeOverlay .overlayContent {padding: 15px;}
h4.emailSubscribeHeading, p.emailSubscribeContent {color: #333;}
#weeklyDealsEmailSignUpEmailAddress input[type="text"].validationFailed {border:none;outline:1px solid #D43A0B;}
/* end: Email Signup Styles */

#mod-contentFacetsSection {float: left; margin-right: 15px; width: 170px;}
#mod-facetsNavigation {float: left; margin-right: 15px; width: 140px; padding: 0 15px 5px 0; overflow: visible;}
#mod-facetsNavigation h4,
.hdr-facetListHeader {font-family: "avantGardeMedium", arial, sans-serif; font-size: 20px; font-weight: normal; margin: 25px 0 7px 0px; line-height: 1; color: #0ea3e1;}
#mod-facetsNavigation h4.first {margin-top: 0px;}

.siteList {list-style-type: none; margin:0; overflow: visible; padding: 0;}
.facet-dimensionItem {background:url("../img/ss_global/sprite-icons.png") no-repeat scroll -178px 4px transparent;display: block; height: 15px; line-height: 15px; padding: 0 0 0 10px; margin-bottom: 5px; position: relative;}
.facet-dimensionItem a, .facet-dimensionItem a:hover {color: #555; text-decoration: none;}
.facet-dimensionItem a:hover {color: #0ea4e3; text-decoration: underline;}
#mod-facetsNavigation .divide {margin-left: 0; padding: 18px 0 12px 0; border-top: 1px solid #e4e4e4; border-bottom: 1px solid #f9f9f9;}
#mod-facetsNavigation .divide.first {border-top: none; padding-top: 0;}
#mod-facetsNavigation .divide.last {border-bottom: none;}
#mod-facetsNavigation .divide li {padding-left: 13px;}
#mod-facetsNavigation .divide .save {background: url(../img/ss_global/sprite-icons.png) no-repeat -109px -3px; text-indent: -1000em; display: inline-block; height: 19px; width: 29px;}
.contentLink {color: #222; text-decoration: none;}
.contentLink:hover {color: #61B5EB !important; text-decoration: none;}

/* Compare chart overrides */
#compareChart {width:740px; padding-top: 8px; margin-top: 7px;}
ul.compareItem {width:230px;
border-radius:6px;
border:1px solid #FFD700;
-webkit-box-shadow: 0px 3px 2px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 3px 2px rgba(50, 50, 50, 0.75);
box-shadow:         0px 3px 2px rgba(50, 50, 50, 0.75);
font-family:" sans-serif", Gadget,Arial}

li.rating {padding: 0 12px;}
.compareItem li.itemCopy {padding: 0 12px;}
li.colorChit {width: 13px; padding: 0;}


/* Tooltip classes */
.mod-tooltip                            {z-index: 1000;}
    .tooltip-content                    {display:none;}
    .tooltip-content-initialized        {line-height: 14px;}

.smallTip                               {width:145px; z-index: 1000; line-height: 14px;}

.bottom {
    background: transparent url(../img/vaio/tooltip_bottom_bg.png) no-repeat scroll left bottom;
    padding-bottom: 13px;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src=../img/vaio/tooltip_bottom_bg.png);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */
    zoom:1;
}
.top {
    background: transparent url(../img/vaio/tooltip_top_bg.png) no-repeat scroll left top;
    padding-top: 13px;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src=../img/vaio/tooltip_bottom_bg.png);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */
    zoom:1;
}
.center {
    background: transparent url(../img/vaio/tooltip_center_bg.png) repeat-y scroll left top;
    padding: 3px 15px;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src=../img/vaio/tooltip_bottom_bg.png);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */
    zoom:1;
}

.tipArrow {
    position: absolute;
    left: -12px;
    top: 6px;
    width: 20px;
    height: 33px;
    background: transparent url(../img/vaio/tooltip_arrow_bg.png) no-repeat scroll left top;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src=../img/vaio/tooltip_bottom_bg.png);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */
    zoom:1;
    
}

#catFeatures h3 {font-family: "avantGardeMedium", arial, sans-serif; font-size: 24px; font-weight: normal; line-height: 1; margin-bottom: 14px;}

#middlePromos {height: 279px; margin-bottom: 30px; }
#middlePromos1, #middlePromos2, #middlePromosTouch {float: left;}
#middlePromos1 a {display: block; margin-right: 4px; width: 638px; height: 279px; background: url(../img/ss_cat/promo_features.jpg) no-repeat;}
#middlePromosTouch a {display: block; margin-right: 4px; width: 638px; height: 279px; background: url(../img/ss_cat/TouchCat_Intel_Banner.jpg) no-repeat;}
#middlePromos2 a {display: block; width: 318px; height: 279px;position:relative;}
a#link-mid_2_PlayVideo .playButton {
    background: url("../img/ss_global/LargePlayButton.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 79px;
    left: 125px;
    overflow: hidden;
    position: absolute;
    text-indent: -1000em;
    top: 105px;
    width: 80px;
    z-index: 2;
}
a#link-mid_2_PlayVideo:hover .playButton {background-position: 0px -98px;}

/*
	#catFeatures {margin-top: 0; min-height: 1140px; background: url(../img/ss_cat/				bg_features.jpg) no-repeat 0 86px; position: relative;}
*/
#catFeatures {margin-top: 0; min-height: 2790px; background: url(../img/ss_cat/bg_features2.jpg) no-repeat 0 86px; position: relative;}
#catFeatures.catFeaturesTouch {background: url(../img/ss_cat/bg_touch_features.jpg) no-repeat 0px 84px; min-height: 2245px;}
#catFeatures a.more {color: #333; background: url(../img/ss_global/carat_small.png) no-repeat left center; padding: 5px 5px 5px 10px; text-decoration: none; font-weight: normal;}
#catFeatures p {font: 12px/18px arial; color: #333;}
#catFeatures a.more:hover {color: #5eb4e2; text-decoration: underline;}
#catFeatures #feature1 {height: 320px; margin-left: 28px; padding-right: 590px;}
#catFeatures #feature2 {height: 300px; margin-right: 15px; padding-left: 560px;}
#catFeatures #feature3 {height: 310px; margin-left: 28px; padding-right: 560px;}
#catFeatures #feature4 {height: 384px; padding-left: 560px;}
/*
#catFeatures #feature5 {height: 350px; margin-left: 28px; padding-right: 610px;}
*/
#catFeatures #feature5 {padding-right: 575px;}
#catFeatures #feature6 {height: 410px; padding-left: 560px;}
#catFeatures #feature7 {height: 360px; padding-right: 590px;}
#catFeatures #feature8 {margin-left: 28px; padding-left: 547px;}
#catFeatures .story {position: relative;}
#feature4 .storyImgLink {height: 337px; left: 0; top: 10px; width: 495px;}
#feature5 .storyImgLink {height: 300px; right: 0; top: 0px; width: 495px;}
#feature6 .storyImgLink {height: 300px; left: 0; top: 0px; width: 495px;}
.storyImgLink {cursor: pointer; position: absolute;}
#feature1 h3 {margin-top: 52px;}
	#feature1.touchFeat1 h3 {margin-top: 31px;}
#feature2 h3 {margin-top: 130px;}
	#feature2.touchFeat2 h3 {margin-top: 53px;}
#feature3 h3 {margin-top: 118px;}
	#feature3.touchFeat3 h3 {margin-top: 138px;}
#feature4 h3 {padding-top: 110px;}
	#feature4.touchFeat4 h3 {padding-top: 146px;}
#feature5 h3 {padding-top: 45px;}
	#feature5.touchFeat5 h3 {padding-top: 173px;}
#feature6 h3 {padding-top: 200px;}
	#feature6.touchFeat6 h3 {padding-top: 161px;}
#feature7 h3 {margin-top: 140px;}
#feature8 h3 {padding-top: 150px;}

.contentSection {
	clear:both;
	display:block;
	margin:0;
	overflow:hidden;
	padding:0;
}

/* super cat product cards */
#catProducts {float: left; width: 744px; margin-top: 55px;}
#catProducts h2.enhance {clear: none; background: #fff; float: left; padding: 24px 30px 23px 0;}
#catProducts h2.enhance .label {background: #fff;}
#catProducts .shopAll {font-size: 12px; color: #333; font-family: arial, sans-serif; line-height: 1; background: transparent url("../img/ss_DI_cat/sprite-icons.png") no-repeat -178px 2px; margin: 30px 20px 30px 0; padding: 0 0 0 10px; height: auto; float: right;}
#catProducts .shopAll a {color: #000; text-decoration: none;}
#catProducts .shopAll a:hover {color: #0ea3e1; text-decoration: underline;}
#catProducts #cards {width: 790px; margin-bottom: 15px; overflow: auto; padding: 0;  clear: right;}
#catProducts #cards li {float: left; margin: 0 15px 16px 0;}
#catProducts #cards .category {margin-bottom: 12px; padding-left: 5px; color: #333; font-size: 12px; font-weight: bold; line-height: 2; width: 100%; display: block; background: #fff;}
#catProducts #cards img {margin-left: 10px;}
#catProducts #cards .description {height: 45px; margin: 6px 0 4px 0; color: #333; font-size: 12px; font-weight: normal; line-height: 1.25;}
#catProducts #cards .startingText {margin: 10px 0 6px 0; color: #000; font-size: 11px; font-weight: normal; line-height: 1;}
#catProducts #cards .priceContainer {width: 100%; margin: 10px 0 10px 0; }
.priceContainer {height: 20px; color:#333; margin: 0px 14px 0px 0px; padding: 0; display: block; float: left;}
#catProducts #cards .cta {padding-left: 15px; padding-right: 13px;}
#catProducts #cards a {display: block; width: 212px; height: 318px; padding: 15px 16px 0 16px; border: 2px solid #f1f1f1; text-decoration: none; background: #f1f1f1;}
#catProducts #cards a:hover {border-color: #ccc; color: #333;}
#catProducts #cards li.feature a {padding: 0; border: 0;}

#catVideos h2.enhance {margin-bottom: 30px;}
#catVideos .videoThumbs {margin: 0 0 30px 28px;}
#catVideos .videoThumbs li {margin-right: 17px; background: #f1f1f1;}

#catAccessories .viewAll {margin: 18px 0 13px 28px; font-size: 13px; line-height: 1;}
#catAccessories .viewAll a {color: #0ea3e1;text-decoration: underline;}
#catAccessories .viewAll a:hover {text-decoration: none;}
#catAccessories #cards {overflow: auto; margin: 0 0 25px 23px; padding: 0;}
#catAccessories #cards li {float: left; margin: 0 0 5px 5px;}
#catAccessories #cards .category {margin: 10px 0 12px 0; color: #333; font-size: 14px; font-weight: bold; line-height: 1; height: 30px;}
#catAccessories #cards .cta {padding-left: 15px; padding-right: 13px;}
#catAccessories #cards a {display: block; width: 183px; height: 231px; padding: 15px 17px 0 18px; border: 2px solid #f1f1f1; text-decoration: none; background: #f1f1f1;}
#catAccessories #cards a:hover {border-color: #ccc; color: #333;}
#catAccessories #cards li.feature a {width: auto; border: 0 none; padding: 0;}
.accessoryImageCard {background-color:#fff;width:183px;height:133px;}
#accessory_1 img {padding: 20px 0 0 22px;}
#accessory_2 img {padding: 18px 0 0 18px;}
#accessory_3 img {padding: 22px 0 0 24px;}
#accessory_4 img {padding: 24px 0 0 26px;}
#accessory_5 img {padding: 22px 0 0 22px;}
#accessory_6 img {padding: 22px 0 0 20px;}
#accessory_7 img {padding: 18px 0 0 22px;}

#catSupport h4 {font-size: 15px; font-weight: bold; color: #333; margin-bottom: 12px; line-height: 1;}
#catSupport li {margin-bottom: 5px;}
#catSupport .timezone {font-size: 10px; text-transform: uppercase;}
#catSupport li:last-child {margin-bottom: 0;}
#catSupport li a, #catSupport li a:hover {color: #333; text-decoration: none; background: url("../img/ss_global/sprite-icons.png") no-repeat -178px 3px; padding-left: 10px;}
#catSupport li a:hover {color: #0ea4e3; text-decoration: underline;}
#catBottom a, #catBottom a:hover {color: #333; font-size: 11px; text-decoration: none;}
#catBottom a:hover {color: #0ea4e3; text-decoration: underline;}

#supportPrimary, #supportSecondary, #supportTertiary {float: left; width: 286px; border-right: 1px solid #e7e7e7; margin: 30px 0; padding: 0 5px 0 28px;}
#supportSecondary, #supportTertiary {width: 279px; padding-left: 35px;}
#supportTertiary {border-right: none;}
#supportTertiary h4 {font-size: 16px;}

#catBottom h3 {font-size: 18px; line-height: 1; margin: 19px 0 5px 0;}
#catBottom .bottomPromo {float: left; width: 262px; margin-bottom: 3px; padding: 0 28px; height: 85px; background: #f1f1f1; margin-right: 3px;}
#catBottom .bottomPromo.last {margin-right: 0;}
#catBottom .bottomPromo ul {margin: 0 0 0 28px;}
#catBottom .bottomPromo span {float: right; width: 60px; height: 60px; display: block; margin-top: 12px; vertical-align: middle; background: #10a0d5 url(../img/ss_cat/sprite.png) no-repeat;}
#catBottom .bottomPromo span.card {background-position: 0 0;}
#catBottom .bottomPromo span.rewards {background-position: -60px 0;}
#catBottom .bottomPromo span.financing {background-position: -120px 0;}

#catBottom .expandLink.open:hover {padding: 0 0 0 16px; color: #0ea4e3; text-decoration: underline;}
.footnote-headerSection {clear: both; height: 9px; margin: 3px 0 0 0; padding: 18px 28px; background: #eee; text-align: right; font-size: 12px; font-weight: bold;}
#link-expandCollapseFootnotes {height: 13px; color: #333; padding: 0 0 0 16px; text-decoration: none; background: url(../img/ss_global/expanded.png) no-repeat -217px -72px;}
#link-expandCollapseFootnotes.open {padding: 0 0 0 16px; color: #333; text-decoration: none; background: url(../img/ss_global/expanded.png) no-repeat -217px -89px;}
#list-categoryFootnotes a {color:#0ea3e1;text-decoration:none;}
#list-categoryFootnotes a:hover {text-decoration:underline;}
.expandLink:hover {padding: 0 0 0 16px; color: #0ea4e3; text-decoration: underline;}
.expandedContent {display: none; padding: 10px 28px;}
#vaioFooter .expandedContent {color:#636363;display: none; font-size: 11px; padding: 10px 28px 35px;}
#vaio-category #vaioFooter .expandedContent ol {text-align: left; padding:25px 0 35px 20px;margin-bottom: 0;}
#vaio-category #vaioFooter .expandedContent ol li {font-size:11px;border-left:0;margin-left:0;padding-left:0;padding-right:0;display: list-item !important;text-align: left;}
.siteList {list-style-type: none; margin:0; overflow: visible; padding: 0;}
#vaio-category #vaioFooter {margin-top: 3px; text-align: left; background-image: none; padding:0;}
#vaio-category #vaioFooter p {margin: 0px 0 10px 0; line-height: 125%;}
.footnoteLink {color:#fff;text-decoration:none;}
.footnoteLink:hover {color:#fff;text-decoration:underline;}

/* Back to Top button */
#btn_backToTop {bottom: 22px; position: absolute; right: 0;}
	#btn_backToTop a {
		background: url("../img/ss_global/utility-bar-subnav-sprite.jpg") no-repeat scroll 0 -56px transparent;
		display: block;
		height:28px;
		text-indent: -9999px;
		width:28px;
		cursor: default;
	}
	
		#btn_backToTop.showIn a {
			background: url("../img/ss_global/utility-bar-subnav-sprite.jpg") no-repeat scroll 0 -28px transparent; cursor: pointer;
		}
        #btn_backToTop.showIn a:hover {
            background: url("../img/ss_global/utility-bar-subnav-sprite.jpg") no-repeat scroll 0 0 transparent;
            cursor: pointer;
        }
		
		#btn_backToTop.showIn{	bottom: -1px;}
	
	#subNav{ margin-right: 28px !important;}

li.facet-dimensionItem.currentPage {
	background:url("../img/vaio_cat/ActiveFacetLinkBG_VAIO_arrow.jpg") no-repeat scroll center center transparent;  left: -10px; padding-left: 20px; height: 22px; line-height: 22px; width: 140px;
}

li.doubleLine {height: 23px; margin-bottom: 10px;}
