/*Body css*/

.Clear{clear:both;}
.ClearFix{display: inline-block;}
.FloatLeft{float:left;}
.FloatRight{float:right;}
.CommenBlock{width:100%; float:left;}
 a{ outline:none;}
h1 {font-size: 100%;}
h2 {font-size: 80%;}
p, form, h1, h2, h3, h4 {padding:0px; margin:0px;}

body{
	background:url(../images/top_bg.png) top  repeat-x !important ; }

/*----------------------------Main Wraper-----------------------------*/
#MainWraperRow{width:100%; height: auto; float:left; background:url(../images/header_bg.png) center top no-repeat; margin-top:32px;}
#MainWraperRow02{width:100%; height: auto; float:left;}

#MainWraper{width:1000px; height: auto; margin: auto;}

#Wraper{width:1000px; height: auto; float:left;}


/*----------------------------Header start here-----------------------------*/
.HeaderWraper{width:1000px; height:127px; float:left; position:relative;}
.HeaderTop{width:920px; height:30px; float:left; text-align:right; padding-right:80px; padding-top:0px;
margin-top:-30px;}


/*----------------------------Logo-----------------------------*/
.Logo{width:400px; height:127px; position:absolute; top:-8px; left:-100px; background:url(../images/logo_bg.png) left top no-repeat; text-align:right; padding-right:22px; padding-top:7px; top:-29px;}

.Logo a img{
	margin-right:14px;}


/* -----------------------------Navigation ----------------------------------*/
.Navigation{ width:748px; height:54px; float:right; font-family: "Arno Pro"; font-size:18px; text-transform:uppercase; margin-top:0px;}
.Navigation ul{ margin:0px; padding:0px;list-style:none;}
.Navigation ul li{ margin:0px; padding:17px 0px 0px 0px; float:left; text-align:center;}

.Navigation ul li a{ color:#000; text-decoration:none; padding:0px 0px 0px 0px;}
.Navigation ul li a:hover{ color:#fff; text-decoration:none;}
.Navigation ul li a.Current{ color:#088fc8; text-decoration:none;}
.Navigation ul li.Library{ margin:0px; padding:17px 0px 0px 50px; float:left;}

.home_icon{
	background:url(../images/home_back_icon.png) no-repeat;
	width:164px;
	height:55px;
	text-align:center;}
.GOLD_Bullion_icon{
	background:url(../images/GOLD_Bullion_back_icon.png) no-repeat;
	width:179px;
	height:55px;}
	
.silver_bullion_icon{
	background:url(../images/silver_bullion.png) no-repeat;
	width:181px;
	height:55px;}

.library_icon{ background:url(../images/library.png) no-repeat;
              width:131px;
			  height:55px;}

.faq_icon{
	background:url(../images/faq.png) no-repeat;
	width:87px;
	height:57px;}


/*---------------------------Middle Wraper-----------------------------*/
.MiddleWraper{width:1000px; height: auto; float:left;}

.MidLeft{width:250px; height: auto; float:left; padding-top:30px;}
.MidRight{width:740px; height: auto; float: right;}


.Graph{width:250px; height: auto; float:left;}

.GoldBullion{width:250px; height: auto; float:left; margin-top:25px;}
.GoldBullionTitel{width:250px; height:58px; float:left; background:url(../images/gold_bullion.jpg) left top no-repeat;}
.GoldBullionTitel label{width:117px; float:left; font-style:italic; padding-left:10px; padding-top:13px;}
.GoldBullionTitel span{width:123px; float:left; padding-top:18px; font-style:italic;}

.GoldBullionMid{width:250px; height: auto; float:left;}
.GoldBullionCat{width:250px; height: auto; float:left; font-family: "Franklin Gothic Book"; font-size:15px; text-align:center;}
.GoldBullionCat ul{ margin:0px; padding:0px; list-style:none;}
.GoldBullionCat ul li{ margin:0px; padding:0px; border-bottom:1px dashed #f9f4ae;}
.GoldBullionCat ul li a{ color:#414042; text-decoration:none; display:block; line-height:30px;}
.GoldBullionCat ul li a:hover{ color:#000; text-decoration:none;}


.OfferRow{width:250px; height:285px; float:left; background:url(../images/offer_bg.jpg) left top no-repeat; margin-top:35px;}
.OfferTxt{width:250px; height: auto; float:left; padding-top:40px; text-align:center;}
.OfferInputTxt{width:240px; height: auto; float:left; text-align:center; padding-right:10px; padding-bottom:7px;}
.OfferInputFld{width:220px; height:34px; float:left; background:url(../images/txtfld.png) left top no-repeat; margin-left:30px;}
.OfferSubs{width:245px; height: auto; float:left; text-align:center; padding-top:10px;}

.AdBanner1{width:250px; height: auto; float:left; text-align:center; padding-top:21px;}
.AdBanner2{width:740px; height: auto; float:left; text-align:center; padding:12px 0px;}



.MidRightTop{width:740px; height: auto; float: left;}
.WhereTo{width:312px; height: auto; float: left; padding-top:18px;}
.SearchRow{width:428px; height:56px; float: left; background:url(../images/search_bg.png) left top no-repeat;}
.SocialIcon{width:176px; height: auto; float: left; padding-left:3px; padding-top:9px;}
.SearchBx{width:248px; height: auto; float: right; padding-top:12px;}
.SearchTxt{width:58px; height: auto; float: left; padding-top:7px;}
.SearchFld{width:190px; height:32px; float: left; background:url(../images/search_fld.png) left top no-repeat;}
.SearchFld span{width:159px; float: left;}
.SearchFld label{width:31px; float: left; padding-top:8px;}

.VideoRow{width:740px; height: auto; float: left; padding-top:27px;}

.ProductRow{width:740px; height: auto; float: left; padding-top:25px;}
.ProductTitel{width:740px; height:46px; float: left; background:url(../images/product_top_cor.jpg) left top no-repeat; padding-top:10px;}
.ProductTitel span{width:325px; float: left; padding-left:45px;}
.ProductTitel label{width:370px; float: left; color:#c0bca0; padding-top:6px;}

.ProductMid{width:738px; height:auto; float: left; border:1px solid #f0f0f0; border-width:0px 1px;}

.GoldCoinsBx{width:235px; height:auto; float:left; background:url(../images/gold_coins_bg.jpg) left top repeat-x #f6f6f6; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; text-align:center; border:1px solid #e0e0e0; padding:10px 0px; margin:10px 4px 0px 4px;}
.GoldCoinsBx h1{ font-weight:normal;}
.GoldCoinsBx h2{ font-weight: bold; padding-top:10px; color:#72610c;}
.GoldCoinsBx p{ padding-top:2px;}


.HowToRow{width:708px; height:auto; float: left; border-radius:7px; -moz-border-radius:7px; -webkit-border-radius:7px; border:1px solid #f0f0f0; padding:16px;}
.HowToTop{width:708px; height:auto; float: left;}
.HowToTop h1{ font-weight:bold; color:rgb(240,192,64);}
.HowToTop p{ padding-top:15px;}

.HowToBtm{width:708px; height:auto; float: left;}
.HowToBtmLeft{width:400px; height:auto; float: left;}
.HowToBtmRight{width:250px; height:auto; float: right;}

.HowToCat{width:400px; height: auto; float:left; font-family: "Myriad Pro"; font-size:16px;}
.HowToCat h1{ font-weight:normal; padding-top:15px;}
.HowToCat ul{ margin:0px; padding:0px; list-style:none;}
.HowToCat ul li{ margin:0px; padding:0px;}
.HowToCat ul li a{ color:#a27700; text-decoration:none; display:block; line-height:37px; background:url(../images/arrow.jpg) left center no-repeat; padding-left:37px;}
.HowToCat ul li a:hover{ color:#404040; text-decoration:none;}



/*---------------------------Footer-Wraper-----------------------------*/
.FooterWraper{width:100%; height: auto; float:left; background:#0f0702;}
.FooterRow{width:1000px; height: auto; margin:auto;}
.FooterRow02{width:1000px; height: auto; float:left;}

.FooterRowTop{width:1000px; height: auto; float:left; padding-top:20px;}


.GoldMainQuice{width:290px; height: auto; float:left; padding-left:43px;}
.GoldQuice{width:100%; height: auto; float:left; font-family: Arial, Helvetica, sans-serif; font-size:12px;}
.GoldQuice h1{ font-weight:normal; color:#ba9c1c;}
.GoldQuice ul{ margin:0px; padding:0px; list-style:none; padding-top:7px;}
.GoldQuice ul li{ margin:0px; padding:0px;}
.GoldQuice ul li a{ color:#ffeb8d; text-decoration:none; display:block; line-height:30px; background:url(../images/arrow02.jpg) left center no-repeat; padding-left:15px;}
.GoldQuice ul li a:hover{ text-decoration: underline;}

.CopyRight{width:1000px; height:23px; float:left; background:url(../images/copyright_bg.jpg) center top no-repeat; text-align:center; margin-top:25px; padding-top:9px;}


/*----02-01-2013---*/

.Libry{ width:742px; height:auto; float:left; margin-top:15px;}
.Comnt_lbry{ width:208px; height:21px; float:right; padding-top:3px; text-align:center; margin-right:15px; background:url(../images/comment_bx_bg.jpg) no-repeat left top;}
.Padbtm01{ padding-bottom:8px;}
.Padtop7{ padding-top:7px !important;}

.Gldbx{ width:232px; height:auto; float:left;}
.Gldbx_right{ width:455px; height:auto; float:right;}

#buy_page{
	width:738px;
	border:1px solid #CCC;
	margin-top:23px;
	border-radius: 4px 4px 4px 4px;}
	
.buy_area{
	width:720px;
	padding-left:15px;}
	
/*--------- 22-01-2013 --------------*/	
.contentpaneopen h3{

    color:rgb(110,46,0);
    font-weight: normal;
    line-height: 120%;
    margin: 0 0 5px;
	font-size:18px;

}
.contentpaneopen p{

margin: 5px 0 15px;
    padding: 0;
	    color: #626160;
	line-height: 1.3em;
	 padding-top: 7px !important;
	     font-family: "Myriad Pro";
    font-size: 15px;
	

}
p, form, h1, h2, h3, h4 {
    margin: 0;
    padding: 0; }
.contentheading{



    color: #263948;
    font-size: 24px;
    padding: 8px 0 5px;


}




	
	
	